<div class="row">


    <div class="col-6 container">

        <img src="https://i.postimg.cc/QNHnfcbY/image.jpg" alt="">
        <div class="top-left" style="font-family: archievo;">Budget</div>


    </div>

    <div class="col-6">

        <a href="" class="link">Having Trouble?
            <span style="font-weight: bold;"><a href="" class="text-black" style="text-decoration: none;">Get Help</a>
            <!-- Example single danger button -->
            <div class="btn-group">
                <button class="btn btn-light btn-sm dropdown-toggle border border-dark ms-2 mt-0" id="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    🏳️‍🌈 Eng
                </button>
                <ul class="dropdown-menu">
            
                    <li><a class="dropdown-item" href="#">🏁 A</a></li>
                    <li><a class="dropdown-item" href="#">🎌 B</a></li>
                    <li><a class="dropdown-item" href="#">🏴‍☠️ C</a></li>
                  
                </ul>
              </div>
            
            </span> </a>

            <h3 id="text">Login to Budget</h3>
            <p style="margin-left: 130px; font-size: small;">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>



          <div class="form">
            <form>
                <div class="mb-3 ms-5 w-50">
                  <input type="email" placeholder="Email" class="form-control mt-5" id="email" aria-describedby="emailHelp">
                  <input type="password" placeholder="Password" id="password" class="form-control" aria-describedby="passwordHelpInline">

                </div>
                      
                <div class="mb-3 ms-5 form-check">
                  <input type="checkbox" class="form-check-input" id="box">
                  <label style="font-size: small;" class="form-check-label ms-2" for="exampleCheck1">Keep me logged in</label>
                  <span><a href="" class="fopa">forgot password?</a></span>
                </div>

                <button type="submit" class="btnl"  id="login"(click)=login()>Login</button>
                <br>

                <a href="" class="cracc">Create new account?</a>

              </form>

          </div>

    </div>


</div>


