

<div class="main">


    <div class="sidebar">
        <br>
        <h3 class="ms-4" style="font-family: curoseive; font-weight:bold">Budget</h3>


        <div class="side"><span class="d-flex">
            <span class="material-symbols-outlined ms-3 mt-1 w-25">
                grid_view
                </span>
              <h6 style="font-style: smaller;" class="ms-4 mt-1">Dashboard</h6>

        </span></div>

        <div class="picbox">

            <h6 style="font-size: small;" class="ms-5 mt-2">Catherine</h6>
             <h6 style="font-size: small;" class="ms-5 mb-2">+91 9876543210</h6>

        </div>

        <div class="d-flex">
            <span id="licon" class="material-symbols-outlined">
                logout 
            </span>
            <h6 id="lout">Log Out</h6>

        </div>

    </div>

    <div class="mainbody">

        <h6 id="text1" class=" mt-4 ms-3">Dashboard</h6>
        <p class="ms-3 opacity-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

        <div id="view" class="ms-3 d-flex">
            <span class="material-symbols-outlined mb-2 mt-1 text-warning">
                error
                </span> 
 You Have 32 Support Request Pending for Response                          
            <a href="" style="color: black; font-weight: bold;" class="ms-3">View</a>
                </div>

                <div class="d-flex">
                    <div class="one">


                        <h6 style="color: white;" class="ms-4 mt-4">Total users</h6>
                        <h2 class="text-light ms-4 mt-3">1,567</h2>
                        <div id="per1" class="ms-4 text-dark" style="display: inline-flex;"><h6 style="font-size: xx-small" class="ms-2 mt-1">2.38%
                        </h6>
                        <h6 class="ms-5" style="font-size: small; color: white;">Sincelastmonth</h6>
                        </div>

                        



                    </div>


                    <div class="two">


                        <h6 style="color: white;" class="ms-4 mt-4">Savings Account</h6>
                        <h2 class="text-light ms-4 mt-3">1,500</h2>
                        <div id="per1" class="ms-4 text-dark" style="display: inline-flex;"><h6 style="font-size: xx-small" class="ms-2 mt-1">2.38%
                        </h6>
                        <h6 class="ms-5" style="font-size: small; color: white;">Sincelastmonth</h6>

                       
                        </div>



                    </div>


                    <div class="three">


                        <h6 style="color: white;" class="ms-4 mt-4">Savings Account</h6>
                        <h2 class="text-light ms-4 mt-3">1,500</h2>
                        <div id="per1" class="ms-4 text-dark" style="display: inline-flex;"><h6 style="font-size: xx-small" class="ms-2 mt-1">2.38%
                        </h6>
                        <h6 class="ms-5" style="font-size: small; color: white;">Sincelastmonth</h6>

                        </div>



                    </div>


                    <div class="four">


                        <h6 style="color: white;" class="ms-4 mt-4">Savings Account</h6>
                        <h2 class="text-light ms-4 mt-3">1,500</h2>
                        <div id="per1" class="ms-4 text-dark" style="display: inline-flex;"><h6 style="font-size: xx-small" class="ms-2 mt-1">2.38%
                        </h6>
                        <h6 class="ms-5" style="font-size: small; color: white;">Sincelastmonth</h6>

                        </div>



                    </div>
                </div>

<h5 class="ms-4 mt-4" style="font-weight: bold;">Recently Active Users</h5>
<br>

                 <table class="table ms-3">
                    <thead>
                      <tr style="font-size: smaller;">
                        <th scope="col" class="opacity-50 table-secondary"> USER ID/NAME</th>
                        <th scope="col" class="opacity-50 table-secondary">    PHONE NUMBER</th>
                        <th scope="col" class="opacity-50 table-secondary">   TRANSACTION CATEGORY</th>
                        <th scope="col" class="opacity-50 table-secondary">   TRANSACTION AMOUNT</th>
                        <th scope="col" class="opacity-50 table-secondary">   ACCOUNT TYPE</th>
                        <th scope="col" class="opacity-50 table-secondary">    BALANCE AMOUNT</th>
                        <th scope="col" class="opacity-50 table-secondary">    </th>
                        <th scope="col" class="opacity-50 table-secondary">    </th>



                      </tr>
                    </thead>
                    <br>
                    <tbody>
                      <tr>
                        <th scope="row">Monicca James
                            <h6 class="opacity-50"> ID 123456789</h6>

                        </th>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            <h6 class="opacity-50">salary</h6>
                        </td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                        <td></td>
                      </tr>
                      <br>
                      <tr>
                        <th scope="row" class="table-info">Samantha
                            <h6 class="opacity-50"> ID 123456789</h6>

                        </th>
                        <td  class="table-info">+91 9876543210</td>
                        <td  class="table-info">Income
                            <br>
                            <h6 class="opacity-50">salary</h6>

                        </td>
                        <td  class="table-info">$200</td>
                        <td  class="table-info">Savings</td>
                        <td  class="table-info">$6000</td>
                        <td  class="table-info"></td>
                        <td class="table-info"><a href="" style="color: black;">view</a></td>
                      </tr>
                      <br>
                      <tr>
                        <th scope="row">Catherine
                            <h6 class="opacity-50"> ID 123456789</h6>

                        </th>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            <h6 class="opacity-50">salary</h6>

                        </td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                        <td></td>
                      </tr>
                      <br>
                      <tr>
                        <th scope="row">Monicca James
                            <h6 class="opacity-50"> ID 123456789</h6>

                        </th>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            <h6 class="opacity-50">salary</h6>

                        </td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                        <td></td>
                      </tr>
                      <br>
                      <tr>
                        <th scope="row">Ileana Sam
                            <br>
                            <h6 class="opacity-50"> ID 123456789</h6>

                        </th>
                        <td>+91 9876543210</td>
                        <td>Income
                            <br>
                            <h6 class="opacity-50">salary</h6>

                        </td>
                        <td>$200</td>
                        <td>Savings</td>
                        <td>$6000</td>
                      </tr>
                    </tbody>
                  </table> 

                  <div class="end">
                    <span class="ms-4 mt-5">View All</span>
                  </div>
      
        
    </div>




</div>